name: Scheduler

on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * *'
    push:
        branches: [main]

jobs:
    update-sponsors:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Set node
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x

            - run: npm i

            - name: Update sponsors
              run: npm run build
              env:
                  SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORS_TOKEN }}
                  SPONSORKIT_GITHUB_LOGIN: cyberalien

            - name: Commit
              uses: EndBug/add-and-commit@v9
              with:
                  message: 'chore: update sponsors.svg'
                  add: 'docs/sponsors.*'
